header{
    height: 100px;
    background-color: rgb(61, 60, 60);
}
nav{
    height: 100px;
    background-color: blueviolet;
    max-width: 1000px;
    margin: 0% auto;
}
/* this is the deckstop page */
.container{
   
    min-height: 500px;
    max-width: 1000px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin:  0 auto;
}
.col{
    background-color: aqua;
    min-height: 200px;
    width: 30%;
    margin-bottom: 15px;
    
}

.col p{
    color: black;
    padding: 10px;
    font-size: 1.25rem;
    line-height: 1.25rem;
}
.col img{
    width: 100%;
    height: auto;
}
.col p::first-line{
    font-weight: 700;
}
/* this is the tablat page */
@media(max-width:700px){
    .col{
        background-color: rgb(122, 28, 44);
        width: 45%;
    }
/* this is the mobile page */
}
@media(max-width:400px){
    .col{
        background-color: blue;
        width: 100%;
    }
}